language: php

php:
  - 7.0
  - 7.1
  - 7.2
  - 7.3
  - hhvm

matrix:
  fast_finish: true
  allow_failures:
    - php: hhvm

before_script:
  - if [[ "$TRAVIS_PHP_VERSION" == "7.0" ]]; then composer require --dev php-coveralls/php-coveralls; fi

script:
  - ant

after_script:
  - if [[ "$TRAVIS_PHP_VERSION" == "7.0" ]]; then php vendor/bin/php-coveralls -v; fi
