parameters:
	ignoreErrors:
		-
			message: "#^Access to constant AES128_CBC on an unknown class SimpleSAML\\\\XMLSecurity\\\\XMLSecurityKey\\.$#"
			count: 1
			path: src/SAML2/Certificate/PrivateKeyLoader.php

		-
			message: "#^Access to constant RSA_1_5 on an unknown class SimpleSAML\\\\XMLSecurity\\\\XMLSecurityKey\\.$#"
			count: 1
			path: src/SAML2/Certificate/PrivateKeyLoader.php

		-
			message: "#^Instantiated class SimpleSAML\\\\XMLSecurity\\\\XMLSecurityKey not found\\.$#"
			count: 2
			path: src/SAML2/Certificate/PrivateKeyLoader.php

		-
			message: "#^Method SimpleSAML\\\\SAML2\\\\Certificate\\\\PrivateKeyLoader\\:\\:convertPrivateKeyToRsaKey\\(\\) has invalid return type SimpleSAML\\\\XMLSecurity\\\\XMLSecurityKey\\.$#"
			count: 1
			path: src/SAML2/Certificate/PrivateKeyLoader.php

		-
			message: "#^Parameter \\$configuration of method SimpleSAML\\\\SAML2\\\\Configuration\\\\SimpleSAMLConverter\\:\\:convertToIdentityProvider\\(\\) has invalid type SimpleSAML\\\\Configuration\\.$#"
			count: 1
			path: src/SAML2/Configuration/SimpleSAMLConverter.php

		-
			message: "#^Parameter \\$configuration of method SimpleSAML\\\\SAML2\\\\Configuration\\\\SimpleSAMLConverter\\:\\:convertToServiceProvider\\(\\) has invalid type SimpleSAML\\\\Configuration\\.$#"
			count: 1
			path: src/SAML2/Configuration/SimpleSAMLConverter.php

		-
			message: "#^Parameter \\$configuration of method SimpleSAML\\\\SAML2\\\\Configuration\\\\SimpleSAMLConverter\\:\\:enrichForDecryptionProvider\\(\\) has invalid type SimpleSAML\\\\Configuration\\.$#"
			count: 1
			path: src/SAML2/Configuration/SimpleSAMLConverter.php

		-
			message: "#^Parameter \\$configuration of method SimpleSAML\\\\SAML2\\\\Configuration\\\\SimpleSAMLConverter\\:\\:enrichForIdentityProvider\\(\\) has invalid type SimpleSAML\\\\Configuration\\.$#"
			count: 1
			path: src/SAML2/Configuration/SimpleSAMLConverter.php

		-
			message: "#^Parameter \\$configuration of method SimpleSAML\\\\SAML2\\\\Configuration\\\\SimpleSAMLConverter\\:\\:enrichForServiceProvider\\(\\) has invalid type SimpleSAML\\\\Configuration\\.$#"
			count: 1
			path: src/SAML2/Configuration/SimpleSAMLConverter.php

		-
			message: "#^Parameter \\$configuration of method SimpleSAML\\\\SAML2\\\\Configuration\\\\SimpleSAMLConverter\\:\\:pluckConfiguration\\(\\) has invalid type SimpleSAML\\\\Configuration\\.$#"
			count: 1
			path: src/SAML2/Configuration/SimpleSAMLConverter.php

		-
			message: "#^Call to static method addSign\\(\\) on an unknown class SimpleSAML\\\\Module\\\\saml\\\\Message\\.$#"
			count: 1
			path: src/SAML2/HTTPArtifact.php

		-
			message: "#^Call to static method getInstance\\(\\) on an unknown class SimpleSAML\\\\Configuration\\.$#"
			count: 2
			path: src/SAML2/HTTPArtifact.php

		-
			message: "#^Call to static method getInstance\\(\\) on an unknown class SimpleSAML\\\\Store\\\\StoreFactory\\.$#"
			count: 1
			path: src/SAML2/HTTPArtifact.php

		-
			message: "#^Call to static method getMetadataHandler\\(\\) on an unknown class SimpleSAML\\\\Metadata\\\\MetaDataStorageHandler\\.$#"
			count: 1
			path: src/SAML2/HTTPArtifact.php

		-
			message: "#^Instantiated class SimpleSAML\\\\Utils\\\\HTTP not found\\.$#"
			count: 1
			path: src/SAML2/HTTPArtifact.php

		-
			message: "#^Parameter \\$key of method SimpleSAML\\\\SAML2\\\\HTTPArtifact\\:\\:validateSignature\\(\\) has invalid type SimpleSAML\\\\XMLSecurity\\\\XMLSecurityKey\\.$#"
			count: 1
			path: src/SAML2/HTTPArtifact.php

		-
			message: "#^Parameter \\$sp of method SimpleSAML\\\\SAML2\\\\HTTPArtifact\\:\\:setSPMetadata\\(\\) has invalid type SimpleSAML\\\\Configuration\\.$#"
			count: 1
			path: src/SAML2/HTTPArtifact.php

		-
			message: "#^Property SimpleSAML\\\\SAML2\\\\HTTPArtifact\\:\\:\\$spMetadata has unknown class SimpleSAML\\\\Configuration as its type\\.$#"
			count: 1
			path: src/SAML2/HTTPArtifact.php

		-
			message: "#^Instantiated class SimpleSAML\\\\Utils\\\\Config not found\\.$#"
			count: 1
			path: src/SAML2/SOAPClient.php

		-
			message: "#^Instantiated class SimpleSAML\\\\Utils\\\\Crypto not found\\.$#"
			count: 1
			path: src/SAML2/SOAPClient.php

		-
			message: "#^Parameter \\$dstMetadata of method SimpleSAML\\\\SAML2\\\\SOAPClient\\:\\:send\\(\\) has invalid type SimpleSAML\\\\Configuration\\.$#"
			count: 1
			path: src/SAML2/SOAPClient.php

		-
			message: "#^Parameter \\$key of method SimpleSAML\\\\SAML2\\\\SOAPClient\\:\\:validateSSL\\(\\) has invalid type SimpleSAML\\\\XMLSecurity\\\\XMLSecurityKey\\.$#"
			count: 1
			path: src/SAML2/SOAPClient.php

		-
			message: "#^Parameter \\$srcMetadata of method SimpleSAML\\\\SAML2\\\\SOAPClient\\:\\:send\\(\\) has invalid type SimpleSAML\\\\Configuration\\.$#"
			count: 1
			path: src/SAML2/SOAPClient.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 2
			path: src/SAML2/XML/md/AbstractEndpointType.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 2
			path: src/SAML2/XML/md/AbstractIndexedEndpointType.php

		-
			message: "#^Access to undefined constant static\\(SimpleSAML\\\\SAML2\\\\XML\\\\md\\\\AbstractRoleDescriptor\\)\\:\\:XSI_TYPE_NAME\\.$#"
			count: 2
			path: src/SAML2/XML/md/AbstractRoleDescriptor.php

		-
			message: "#^Access to undefined constant static\\(SimpleSAML\\\\SAML2\\\\XML\\\\md\\\\AbstractRoleDescriptor\\)\\:\\:XSI_TYPE_NAMESPACE\\.$#"
			count: 2
			path: src/SAML2/XML/md/AbstractRoleDescriptor.php

		-
			message: "#^Access to undefined constant static\\(SimpleSAML\\\\SAML2\\\\XML\\\\md\\\\AbstractRoleDescriptor\\)\\:\\:XSI_TYPE_PREFIX\\.$#"
			count: 2
			path: src/SAML2/XML/md/AbstractRoleDescriptor.php

		-
			message: "#^Call to an undefined static method SimpleSAML\\\\SAML2\\\\XML\\\\md\\\\AbstractSignedMdElement\\:\\:getXsiTypeNamespaceURI\\(\\)\\.$#"
			count: 1
			path: src/SAML2/XML/md/AbstractSignedMdElement.php

		-
			message: "#^Access to undefined constant static\\(SimpleSAML\\\\SAML2\\\\XML\\\\saml\\\\AbstractBaseID\\)\\:\\:XSI_TYPE_NAME\\.$#"
			count: 2
			path: src/SAML2/XML/saml/AbstractBaseID.php

		-
			message: "#^Access to undefined constant static\\(SimpleSAML\\\\SAML2\\\\XML\\\\saml\\\\AbstractBaseID\\)\\:\\:XSI_TYPE_NAMESPACE\\.$#"
			count: 2
			path: src/SAML2/XML/saml/AbstractBaseID.php

		-
			message: "#^Access to undefined constant static\\(SimpleSAML\\\\SAML2\\\\XML\\\\saml\\\\AbstractBaseID\\)\\:\\:XSI_TYPE_PREFIX\\.$#"
			count: 2
			path: src/SAML2/XML/saml/AbstractBaseID.php

		-
			message: "#^Access to undefined constant static\\(SimpleSAML\\\\SAML2\\\\XML\\\\saml\\\\AbstractCondition\\)\\:\\:XSI_TYPE_NAME\\.$#"
			count: 2
			path: src/SAML2/XML/saml/AbstractCondition.php

		-
			message: "#^Access to undefined constant static\\(SimpleSAML\\\\SAML2\\\\XML\\\\saml\\\\AbstractCondition\\)\\:\\:XSI_TYPE_NAMESPACE\\.$#"
			count: 2
			path: src/SAML2/XML/saml/AbstractCondition.php

		-
			message: "#^Access to undefined constant static\\(SimpleSAML\\\\SAML2\\\\XML\\\\saml\\\\AbstractCondition\\)\\:\\:XSI_TYPE_PREFIX\\.$#"
			count: 2
			path: src/SAML2/XML/saml/AbstractCondition.php

		-
			message: "#^Access to undefined constant static\\(SimpleSAML\\\\SAML2\\\\XML\\\\saml\\\\AbstractStatement\\)\\:\\:XSI_TYPE_NAME\\.$#"
			count: 2
			path: src/SAML2/XML/saml/AbstractStatement.php

		-
			message: "#^Access to undefined constant static\\(SimpleSAML\\\\SAML2\\\\XML\\\\saml\\\\AbstractStatement\\)\\:\\:XSI_TYPE_NAMESPACE\\.$#"
			count: 2
			path: src/SAML2/XML/saml/AbstractStatement.php

		-
			message: "#^Access to undefined constant static\\(SimpleSAML\\\\SAML2\\\\XML\\\\saml\\\\AbstractStatement\\)\\:\\:XSI_TYPE_PREFIX\\.$#"
			count: 2
			path: src/SAML2/XML/saml/AbstractStatement.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/SAML2/XML/saml/Attribute.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/SAML2/XML/saml/EncryptedAttribute.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/SAML2/XML/saml/EncryptedID.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/SAML2/XML/saml/NameIDType.php
