parameters:
	ignoreErrors:
		-
			message: '#^PHPDoc tag @var for property SimpleSAML\\Test\\SAML2\\Assertion\\Transformer\\NameIdDecryptionTransformerTest\:\:\$validator with type SimpleSAML\\SAML2\\Response\\Validation\\Validator is incompatible with native type SimpleSAML\\SAML2\\Signature\\Validator\.$#'
			identifier: property.phpDocType
			count: 1
			path: tests/SAML2/Assertion/Transformer/NameIdDecryptionTransformerTest.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 2
			path: tests/SAML2/Assertion/Transformer/NameIdDecryptionTransformerTest.php

		-
			message: '#^PHPDoc tag @var for property SimpleSAML\\Test\\SAML2\\Assertion\\Validation\\AssertionValidatorTest\:\:\$validator with type SimpleSAML\\SAML2\\Response\\Validation\\Validator is incompatible with native type SimpleSAML\\SAML2\\Signature\\Validator\.$#'
			identifier: property.phpDocType
			count: 1
			path: tests/SAML2/Assertion/Validation/AssertionValidatorTest.php

		-
			message: '#^Parameter \#1 \$xml of static method SimpleSAML\\SAML2\\XML\\saml\\Assertion\:\:fromXML\(\) expects DOMElement, DOMNode\|null given\.$#'
			identifier: argument.type
			count: 2
			path: tests/SAML2/Assertion/Validation/AssertionValidatorTest.php

		-
			message: '#^Result of method SimpleSAML\\SAML2\\Assertion\\Processor\:\:validateAssertion\(\) \(void\) is used\.$#'
			identifier: method.void
			count: 1
			path: tests/SAML2/Assertion/Validation/AssertionValidatorTest.php

		-
			message: '#^Parameter \#1 \$serviceProvider of method SimpleSAML\\SAML2\\Assertion\\Validation\\ConstraintValidator\\SpIsValidAudience\:\:setServiceProvider\(\) expects SimpleSAML\\SAML2\\Configuration\\ServiceProvider, Mockery\\MockInterface given\.$#'
			identifier: argument.type
			count: 3
			path: tests/SAML2/Assertion/Validation/ConstraintValidator/SpIsValidAudienceTest.php

		-
			message: '#^Parameter \#1 \$response of class SimpleSAML\\SAML2\\Assertion\\Validation\\ConstraintValidator\\SubjectConfirmationResponseToMatches constructor expects SimpleSAML\\SAML2\\XML\\samlp\\Response, Mockery\\MockInterface given\.$#'
			identifier: argument.type
			count: 5
			path: tests/SAML2/Assertion/Validation/ConstraintValidator/SubjectConfirmationResponseToMatchesTest.php

		-
			message: '#^PHPDoc tag @var for property SimpleSAML\\Test\\SAML2\\XML\\saml\\SubjectConfirmationValidatorTest\:\:\$validator with type SimpleSAML\\SAML2\\Response\\Validation\\Validator is incompatible with native type SimpleSAML\\SAML2\\Signature\\Validator\.$#'
			identifier: property.phpDocType
			count: 1
			path: tests/SAML2/Assertion/Validation/SubjectConfirmationValidatorTest.php

		-
			message: '#^Parameter \#1 \$element of method SimpleSAML\\SAML2\\Certificate\\KeyCollection\:\:add\(\) expects SimpleSAML\\SAML2\\Certificate\\Key, string given\.$#'
			identifier: argument.type
			count: 1
			path: tests/SAML2/Certificate/KeyCollectionTest.php

		-
			message: '#^Call to an undefined method Mockery\\Expectation\:\:shouldReceive\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: tests/SAML2/Certificate/KeyLoaderTest.php

		-
			message: '#^Parameter \#1 \$config of method SimpleSAML\\SAML2\\Certificate\\KeyLoader\:\:loadKeysFromConfiguration\(\) expects SimpleSAML\\SAML2\\Configuration\\CertificateProvider, Mockery\\MockInterface given\.$#'
			identifier: argument.type
			count: 3
			path: tests/SAML2/Certificate/KeyLoaderTest.php

		-
			message: '#^Parameter \#1 \$response of method SimpleSAML\\SAML2\\Response\\Validation\\ConstraintValidator\\DestinationMatches\:\:validate\(\) expects SimpleSAML\\SAML2\\XML\\samlp\\Response, Mockery\\MockInterface given\.$#'
			identifier: argument.type
			count: 2
			path: tests/SAML2/Response/Validation/ConstraintValidator/DestinationMatchesTest.php

		-
			message: '#^Parameter \#1 \$response of method SimpleSAML\\SAML2\\Response\\Validation\\ConstraintValidator\\IsSuccessful\:\:validate\(\) expects SimpleSAML\\SAML2\\XML\\samlp\\Response, Mockery\\MockInterface given\.$#'
			identifier: argument.type
			count: 2
			path: tests/SAML2/Response/Validation/ConstraintValidator/IsSuccessfulTest.php

		-
			message: '#^Parameter \#1 \$xml of static method SimpleSAML\\SAML2\\XML\\saml\\Assertion\:\:fromXML\(\) expects DOMElement, DOMNode\|null given\.$#'
			identifier: argument.type
			count: 2
			path: tests/SAML2/Response/XmlSignatureWrappingTest.php

		-
			message: '#^Parameter \#1 \$requestedAuthnContexts of class SimpleSAML\\SAML2\\XML\\samlp\\RequestedAuthnContext constructor expects array\<SimpleSAML\\SAML2\\XML\\saml\\AuthnContextClassRef\|SimpleSAML\\SAML2\\XML\\saml\\AuthnContextDeclRef\>, array\<int, DOMDocument\|SimpleSAML\\SAML2\\XML\\saml\\AuthnContextDeclRef\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/SAML2/XML/samlp/RequestedAuthnContextTest.php
