<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" colors="true" processIsolation="true" stopOnFailure="false" bootstrap="./tests/autoload.php" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <coverage>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Test Suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <source>
    <include>
      <directory>./src</directory>
    </include>
  </source>
</phpunit>
